ai
ai-test
ai-train
code
code-test
code-train
*.exe
*.so
*.dll
mind_original/*.web
mind_original/*.voc
mind_original/*.opt
mind/memory/general/
mind/memory/locals/
mind/memory/persons/
mind/memory/topics/
mind/memory/old_knowledge/
mind/skills/
mind/language/*
!mind/language/limits.txt
!mind/language/safe.txt
!mind/language/plain_talk.txt
!mind/language/verbs.txt
!mind/language/days.txt
!mind/language/actions.txt
!mind/language/sayings.txt
!mind/language/meanings.txt
/memory/
/brain/
/lang/
/knowledge/
/data/
